* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 90px;
}

.header {
    font-family:Arial, Helvetica, sans-serif;
    background-image: url(img/fondo.jpeg);
    background-attachment:fixed,scroll;
    background-position: 110% 88%;
    filter: brightness(1.3);
}

.menu {
    position: relative;
    top: 25%;
    right: 25%;
}

.menu li:nth-child(1), li:nth-child(2), li:nth-child(3) {
    padding-right: 35px;
}

.menu li a {
    font-size:19px;
    color:white;
}

.menuSM {
    position: relative;
    bottom: 15%;
}

.menuSM li a {
    font-size:19px;
    color:white;
}

.menu li a:hover, .menuSM li a:hover {
    color: #3aa9ff;
}

.menuMovil {
    position: absolute;
    left:85%;
    top:2.5%;
}

.dropdown-toggle {
    background: none;
    border: none;
}

.dropdown-item:hover {
    color: #3aa9ff;
}

.perfil {
    border-radius: 50%;
    width:220px;
    height:220px;
}

.descripcion_DP h3{
    color: #3aa9ff;
}

.descripcion_DP h4{
    color: white; 
}

.descripcion_DG {
    position: relative;
    bottom:50%;
}

.descripcion_DG h3{
    color: #3aa9ff;
}

.descripcion_DG h4{
    color: white; 
}

.boton_curriculum {
    display:block;
    border: 1px solid black;
    text-decoration: none;
    line-height:50px;
    width:200px;
    height:50px;
    font-size:18px;
    text-align:center;
    border-radius:50px;
    color: #22a6bb;
    transition: all 400ms ease-out;
}

.boton_curriculum:hover{
    transform: scale(1.1);
    background-color:#22a6bb;
    color:white;
    text-decoration: none;
    border: none;
}

.logos_habilidades {
   width:100px;
   height:100px;
}

a .logos_habilidades:hover {
    transform: scale(0.9);
}

.progress {
    height: 30px;
    margin: 20px;
    background-color: rgb(123, 123, 255);
}

.inicio {
    width:0%;
}

.porcentajeBarraHTML {
    width:75%;
    background-color:rgb(255, 123, 0);
    font-size:16px;
}

.porcentajeBarraCSS {
    width:65%;
    font-size:16px;
}

.porcentajeBarraBootstrap {
    width:65%;
    font-size:16px;
    background-color:rgb(124, 44, 124);
}

.porcentajeBarraPHP {
    width:65%;
    font-size:16px;
    background-color:rgb(60, 31, 60);
}

.porcentajeBarraKotlin {
    width:70%;
    font-size:16px;
}

.porcentajeBarraJS {
    width:50%;
    font-size:16px;
}

.porcentajeBarraSwift {
    width:40%;
    font-size:16px;
}

.porcentajeBarraMySQL {
    width:70%;
    font-size:16px;
}

.animacion {
   transition: all 2s ease .5s;
}

.boton_animacion {
    padding:10px;
}

.card {
    background-color: rgb(32, 30, 30);
    color:white;
}

.card h5 {
    color:#9046ff;
    font-weight:500;
}

.seccion_proyecto {
    color: #9046ff;
}

.redes_sociales {
    list-style:none;
    width:20%;
    margin:auto;
}

.redes_sociales li {
    display: inline-block;
    padding:10px;
}

.redes_sociales li a img:hover {
    background-color: white;
    border-radius:50px;
}

.boton_scroll_arriba {
    display:none;
	padding:15px;
	background-color:#7be7ff;
    cursor: pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}
